table, th, td {
    border: 1px solid black;
     border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

td {
    color: papayawhip;
}
th {
    color: papayawhip;
}

table {
    background-color: #483C32
}

