{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <button id="myButton" class="float-left submit-button" >New Massage Request</button>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "admin";
        };
    </script>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

